/* Theme style (colors & sizes) */
@import "theme-default";

/* Core Libs & Lib configs */
@import "libs/all";

@import "node_modules/bulma/bulma";
@import "node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";

body {
  font-size: 1em;
  color: black;
}

.title {
  color: black;
}
