/* Theme style (colors & sizes) */
@import "theme-default";

/* Core Libs & Lib configs */
@import "libs/all";

@import "node_modules/bulma/bulma";
@import "node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";

body {
  font-size: 1em;
  color: black;
}

.title {
  color: black;
}

.before-enter {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
